_Sources/Fortified/.vs/Fortified/v17/.futdcache.v2
_Sources/Fortified/.vs/Fortified/v17/HierarchyCache.v1.txt
_Sources/Fortified/.vs/ProjectEvaluation/fortified.metadata.v9.bin
_Sources/Fortified/.vs/ProjectEvaluation/fortified.projects.v9.bin
_Sources/Fortified/.vs/ProjectEvaluation/fortified.strings.v9.bin
